//fonts
$interRegular: InterRegular, sans-serif;
$interMedium: InterMedium, sans-serif;
$interSemiBold: InterSemiBold, sans-serif;
$timesNewRomanBold: TimesNewRomanBold, sans-serif;

//mixins titles
@mixin titleH1 {
	font-size: 60px;
	line-height: 81px;
	color: $white;
	font-family: $timesNewRomanBold;
}

@mixin titleH2 {
	font-size: 40px;
	line-height: 54px;
	color: $black;
	font-family: $timesNewRomanBold;
}

@mixin titleH3 {
	font-size: 30px;
	line-height: 40.5px;
	color: $black;
	font-family: $timesNewRomanBold;
}

@mixin titleH4 {
	font-size: 24px;
	line-height: 32.4px;
	color: $black;
	font-family: $timesNewRomanBold;
}

@mixin titleH5 {
	font-size: 20px;
	line-height: 27px;
	color: $black;
	font-family: $timesNewRomanBold;
}

@mixin largeText {
	font-size: 24px;
	line-height: 32.4px;
	font-family: $interSemiBold;
	color: $black;
}

@mixin normalText {
	font-size: 18px;
	line-height: 27px;
	font-family: $interRegular;
	letter-spacing: 1%;
	color: $black;
}

@mixin littleText {
	font-size: 16px;
	line-height: 24px;
	font-family: $interMedium;
	letter-spacing: 1%;
	color: $black;
}

@mixin smallText {
	font-size: 10px;
	line-height: 12.5px;
	font-family: $interMedium;
	letter-spacing: 1%;
	color: $black;
}

//links

@mixin link {
	font-size: 18px;
	line-height: 24.3px;
	color: $white;
	font-family: $timesNewRomanBold;
	transition: 0.5s all;
	svg {
		path {
			transition: 0.5s all;
		}
	}
	&:hover {
		color: $darkGreen;
		svg {
			path {
				fill: $darkGreen;
			}
		}
	}
}

//mixins button
@mixin button {
	font-size: 16px;
	line-height: 21.6px;
	padding: 10px 20px;
	width: fit-content;
	transition: 0.5s all;
	display: flex;
	font-family: $interMedium;
	&.variant1 {
		color: $black;
		background-color: $lightGreen;
		border-radius: 100px;
		&:hover {
			color: $white;
			background-color: $darkGreen;
		}
	}
	&.variant2 {
		color: $white;
		background-color: $green;
		border-radius: 100px;
		&:hover {
			color: $black;
			background-color: $lightGreen;
		}
	}
	&.variant3 {
		color: $white;
		background-color: $darkGreen;
		border-radius: 10px;
		&:hover {
			background-color: $green;
		}
	}
}
