//screens
$laptop: 1239px;
$tablet: 1023px;
$mobilePortrait: 767px;
$mobile: 479px;

//colors
$white: #ffffff;
$black: #000000;
$lightGray: #e4e4e4;
$gray: #dddddd;
$darkGray: #ebe6e3;
$lightGreen: #f0ffe2;
$green: #255a4b;
$darkGreen: #022415;
$hoverGreen: #afe57f;
