@import 'common-styles';
@import 'mixins';

#main-page {
	#main {
		.section-slider {
			padding-top: 106px;
			height: 100vh;
			background-color: $green;
			display: flex;
			align-items: center;
			.container {
				position: relative;
				.slider-main-block {
					width: 100%;
					.swiper-slide {
						img {
							width: 100%;
							border-radius: 10px;
						}
					}
				}
				.h1 {
					left: 50%;
					transform: translateX(-50%);
					z-index: 10;
					bottom: 100px;
					width: 100%;
					position: absolute;
				}
				.button {
					margin: 30px auto 0;
				}
			}
		}
		.section-about-us {
			padding: 30px 0 34px;
			position: relative;
			.image {
				max-width: 532px;
				left: 9px;
				top: 0;
			}
			.container {
				display: flex;
				justify-content: center;
				.content {
					max-width: 820px;
					width: 100%;
					.h2 {
						margin-bottom: 30px;
					}
					.h4 {
						margin-bottom: 20px;
					}
					.mb {
						margin-bottom: 25px;
					}
					p {
						text-align: center;
					}
					.button {
						margin: 20px auto 0;
					}
				}
			}
		}
		.section-services {
			padding: 34px 0 30px;
			.container {
				& > .h2 {
					margin-bottom: 40px;
				}
				.content {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: 80px;
					.item {
						width: calc(50% - 50px);
						&:first-child {
							max-width: 420px;
							width: 100%;
						}
						.h2 {
							margin-bottom: 16px;
						}
						.button {
							margin-top: 20px;
						}
						.picture {
							display: flex;
							img {
								mix-blend-mode: multiply;
								width: 100%;
							}
						}
						.row-item {
							margin-bottom: 15px;
							display: flex;
							align-items: flex-start;
							gap: 30px;
							.check {
								height: 50px;
								width: 50px;
								min-width: 50px;
								border-radius: 50%;
								display: flex;
								align-items: center;
								background-color: $green;
								justify-content: center;
								svg {
									width: 20px;
								}
							}
							.description {
								.h5 {
									text-align: left;
									margin-bottom: 8px;
								}
							}
						}
						*:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		.section-available-premises {
			padding: 30px 0 80px;
			.container {
				.h2 {
					margin-bottom: 85px;
				}
				.image {
					max-width: 380px;
					right: 90px;
					top: 42px;
				}
			}
		}
	}
}

@media screen and (max-width: $laptop) {
	#main-page {
		#main {
			.section-about-us {
				.image {
					width: 350px;
				}
			}
			.section-services {
				.container {
					.content {
						gap: 40px;
						.item {
							width: calc(50% - 20px);
							&:first-child {
								max-width: initial;
								width: calc(50% - 20px);
							}
							.button-mob {
								display: none;
							}
							.row-item {
								gap: 16px;
								.check {
									height: 40px;
									width: 40px;
									min-width: 40px;
									border-radius: 50%;
									svg {
										width: 16px;
									}
								}
							}
						}
					}
				}
			}
			.section-available-premises {
				.container {
					.h2 {
						margin-bottom: 50px;
					}
					.image {
						max-width: 300px;
						right: 60px;
						top: 80px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#main-page {
		#main {
			.section-about-us {
				.image {
					top: 30px;
					width: 280px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobilePortrait) {
	#main-page {
		#main {
			.section-slider {
				height: auto;
				padding-top: 82px;
				padding-bottom: 21px;
				.container {
					.button {
						margin-top: 15px;
					}
					.h1 {
						bottom: 66px;
					}
				}
			}
			.section-about-us {
				.image {
					left: -50px;
					width: 250px;
				}
			}
			.section-services {
				.container {
					.content {
						flex-direction: column;
						.item {
							width: 100%;
							&:first-child {
								width: 100%;
							}
							.button-desktop {
								display: none;
							}
							.button-mob {
								display: block;
								margin-left: auto;
								margin-right: auto;
							}
							h2 {
								text-align: center;
							}
						}
					}
				}
			}
			.section-available-premises {
				.container {
					.h2 {
						margin-bottom: 170px;
					}
					.image {
						width: 250px;
						top: 50px;
						right: 70px;
					}
				}
			}
		}
	}
}
